<!doctype html>
<html ng-app="imageApp">
  <head>
    <link rel="stylesheet" type="text/css" href="./css/slideshow.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <title>Serverless App</title>
  </head>
  <body ng-controller="imageController"><center>
    <h1> Welcome to a serverless application</h1>
    <div ng-if="imageList == null">
      Please upload images and reload the images to see the application in action.
    </div>
    <div class="slideshow-container" ng-if="imageList != null">
        <div class="mySlides fade" style:"display: none;" ng-repeat="image in imageList" my-repeat-directive>
            <img src={{image.url}}>
            <div class="text">{{image.caption}}</div>
      </div>
    </div>
    
    <div>
      <BR><BR>
      <button ng-click="loadImages();">Reload Images</button>
      <BR><BR>
    </div>
        <div><form id='uploadForm'>
                <input type=file id='file' onchange="startRead()"/>
                <input type="button" id='uploadButton' value='Upload' onclick="upload();"/>
        </form></div>
        <h2>Preview</h2>
        <div id='preview'></div>

        <script src="./js/uploader.js"></script>
  </center></body>
</html>