<!doctype html>
<html ng-app="imageApp" ng-controller="imageController">
  <head>
    <link rel="stylesheet" type="text/css" href="./css/slideshow.css">
    <link rel="stylesheet" type="text/css" href="./css/uploader.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  </head>
  <body>
    <div class="slideshow-container" ng-if="imageList != null">
        <div class="mySlides fade" ng-repeat="image in imageList">
            <img src={{image.url}} style="width:100%">
            <div class="text">{{image.caption}}</div>
        </div>
    </div>
    <center><input type="button" ng-click="loadImages();" value="Reload images"></center>
    <BR><BR>
        <div><form id='uploadForm'>
                <input type=file id='file' onchange="startRead()"/>
                <input type="button" id='uploadButton' value='Upload' onclick="upload();"/>
        </form></div>
        <h2>Preview</h2>
        <div id='preview'></div>

        <script src="./js/slideshow.js"></script>
        <script src="./js/uploader.js"></script>
  </body>
</html>